@model LoginViewModel

@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/Styles/Account/Login.css" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister" rel="stylesheet">

<form method="post">
    <div class="validation" asp-validation-summary="All"></div>
    <div>
        <label asp-for="Email"></label>
        <input type="email" asp-for="Email" required />
    </div>

    <div>
        <label asp-for="Password"></label>
        <input type="password" asp-for="Password" required />
    </div>

    <button type="submit">Login</button>

    <a asp-action="Register" asp-controller="Account"> Create an Account </a>
</form>

<section id="providers">
    <div class="icon-windows"></div>
    <div class="icon-google"></div>
</section>

@{
    var loginProviders = (await SignInManager.GetExternalAuthenticationSchemesAsync()).ToList();

    if (loginProviders.Count > 0)
    {
        <div class="col-md-4">
            <div class="row">
                <form asp-action="ExternalLogin" method="post">

                    @foreach (var provider in loginProviders)
                    {
                        <button type="submit" class="btn btn-default" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.Name</button>

                    }
                </form>
            </div>
        </div>

    }

}