@model RegisterViewModel

@{
    Layout = "_Layout";
}

<link rel="stylesheet" href="~/Styles/Account/Login.css" type="text/css" />
<link href="https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister" rel="stylesheet">

<form method="post">
    <div class="validation" asp-validation-summary="All"></div>
    <div>
        <label asp-for="Email"></label>
        <input type="email" asp-for="Email" required />
    </div>

    <div>
        <label asp-for="FirstName"></label>
        <input type="text" asp-for="FirstName" required />
    </div>

    <div>
        <label asp-for="LastName"></label>
        <input type="text" asp-for="LastName" required />
    </div>

    <div>
        <label asp-for="Password"></label>
        <input type="password" asp-for="Password" required />
    </div>

    <div>
        <label asp-for="ConfirmPassword"></label>
        <input type="password" asp-for="ConfirmPassword" required />
    </div>

    <div class="custom-control custom-checkbox">
        <label asp-for="Subscribe" class="custom-control-input" id="customCheck1"></label>
        <input type="checkbox" asp-for="Subscribe" class="custom-control-label" for="customCheck1" />
    </div>

    <button type="submit">Register</button>
</form>