/*font-family: 'IM Fell DW Pica', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Song Myung', serif;*/

* {
    color: #626262;
    font-family: 'Song Myung', serif;
}

*::-webkit-scrollbar {
}

*::-webkit-scrollbar-thumb {
    background: #333;
    border-radius: .5vw;
}