header {
    width: 100%;
    position: relative;
}

    header img {
        width: 100%;
    }

nav {
    position: absolute;
    bottom: 1.5vw;
    left: 5vw;
}

    nav li {
        display: inline-block;
    }

main {
    position: relative;
    width: 90vw;
    margin: auto;
    min-height: 60vh;
    margin-top: 1.2vw;
    margin-bottom: 1.2vw;
}

footer {
    width: 100%;
    position: relative;
    min-height: 25vw;
}

#creators {
    position: absolute;
    bottom: 14.5vw;
    right: 35vw;
    padding-left: .25vw;
}

    #creators div {
        display: inline-block;
    }

    #creators span {
        font-family: 'Oswald', sans-serif;
        font-size: 1.3vw;
        color: #fff;
        padding: .25vw;
    }

    #creators li {
        color: #fff;
        font-size: 1vw;
        text-align: center;
        font-family: 'Song Myung', serif;
    }

#allproducts {
    width: 75vw;
    outline: 1px solid red;
    background-color: red;
}

#cart {
    width: 14.5vw;
    outline: 1px solid red;
}