.logo {
    font-family: 'IM Fell DW Pica', serif;
    background-color: #fff;
    color: #000;
}

.tagline {
    font-family: 'IM Fell DW Pica', serif;
    position: absolute;
    color: #fff;
    background-color: #3e3e3e;
    text-align: center;
}

header .logo {
    position: absolute;
    font-size: 5vw;
    left: 5vw;
    top: 1.5vw;
}

header .tagline {
    position: absolute;
    font-size: 1.5vw;
    width: 17.4vw;
    left: 5vw;
    top: 6.9vw;
}

nav ul {
    padding: 0;
}

nav li {
    font-family: 'Oswald', sans-serif;
    font-size: 1.75vw;
    padding: .5vw;
}

nav a:hover {
    color: #000;
}

#userInfo {
    position: absolute;
    background-color: #fff;
    right: 5vw;
    bottom: 1.5vw;
    text-align: center;
    padding: .5vw;
    min-width: 10vw;
    font-size: 1.2vw;
}

nav {
    position: absolute;
    background-color: #fff;
    outline: #3e3e3e;
}

footer {
    margin-top: 5vw;
    background-color: #3e3e3e;
}

    footer .logo {
        font-size: 3vw;
        position: absolute;
        left: 38vw;
        bottom: 15.7vw;
    }

    footer .tagline {
        position: absolute;
        font-size: 1.2vw;
        left: 38vw;
        bottom: 14vw;
        width: 10.4vw;
        outline: 2px solid #fff;
    }

#creators a:hover {
    color: #888;
}

#providers {
    position: absolute;
    top: 14vw;
    left: 47vw;
}

#providers div {
    display: inline-block;
    font-size: 2vw;
    padding: .5vw;
}

#smallprint {
    font-size: .8vw;
    position: absolute;
    bottom: 5vw;
    left: 41vw;
}

    #smallprint li {
        display: inline-block;
        padding: .25vw;
    }

    #smallprint a:hover {
        color: #888;
    }

.description h4 {
    font-family: 'Oswald', sans-serif;
    color: #000;
    font-size: 1.4vw;
    font-weight: bold;
}