

@{
    Layout = "_Layout";
}
<link rel="stylesheet" href="~/Styles/Admin/Admin.css" type="text/css" />

<div class="admin-index">

    <div class="dashboard">
    <h1> Admin Dashboard</h1>
        

        <div class="product-mgnt">
                <h6 class="dropdown-header"> Manage Products </h6>
            <div class="dropdown">
                <a class="dropdown-item" asp-action="Create" asp-controller="Product"> Add new Product </a>
                <a class="dropdown-item" asp-action="GetAll" asp-controller="Product"> Manage Existing Products </a>
            </div>


        </div>
    </div>

</div>