@model AdminDashboardViewModel

@{
    Layout = "_Layout";
}



<div class="admin-index">

    <h1> Admin Dashboard</h1>
    <div>


        <div class="dashboard">

            <div>
                <a class="dropdown-item" asp-action="GetAll" asp-controller="Product">
                    <h4>Products on sale</h4>
                    <p>@Model.Products.Count</p>
                </a>
            </div>

            <div>
                <a asp-action="UserList">
                    <h4>Total registered users</h4>
                    <p>@Model.Users.Count</p></a>
            </div>

            <div>
                <a asp-action="OrderList">
                    <h4>Total Orders Received</h4>
                    <p>@Model.Orders.Count</p>
                        </a>
            </div>

        </div>


    </div>

</div>  