@model Product
@{
    Layout = "_Layout";
}


<div class="buttondiv">
    <a asp-action="GetAll" asp-controller="Product"> Back to Products</a>
</div>

<form class="admin-form" method="post" form-action="Create">
    <h3> Add New Product</h3>

    <div class="form-group">
        <label asp-for="SKU"></label>
        <input type="text" asp-for="SKU" />
        <span asp-validation-for="SKU"></span>
    </div>

    <div class="form-group">
        <label asp-for="Name"></label>
        <input type="text" asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>

    <div class="form-group">
        <label asp-for="Price"></label>
        <input type="number" asp-for="Price" />
        <span asp-validation-for="Price"></span>
    </div>

    <div class="form-group">
        <label asp-for="Quantity"></label>
        <input type="number" asp-for="Quantity" />
        <span asp-validation-for="Quantity"></span>
    </div>

    <div class="form-group">
        <label asp-for="Image"></label>
        <input type="url" asp-for="Image" />
        <span asp-validation-for="Image"></span>
    </div>

    <div class="form-group">
        <label asp-for="Description"></label>
        <input type="text" asp-for="Description" />
        <span asp-validation-for="Description"></span>
    </div>

    <div class="form-group">
        <label asp-for="ProductCategory"></label>
        @(Html.DropDownListFor(p => p.ProductCategory, new SelectList(Enum.GetValues(typeof(Category))), "Select Category"))
        <span asp-validation-for="ProductCategory"></span>
    </div>

    <button type="submit"> Add to Warehouse </button>
</form>