h1{
    text-align: center;
}

h6 {
    border: 2px black solid;
    padding: 1.7em;
    font-size: 1em;
}

div.product-mgnt{
    position: relative;
    display: inline-block;
    margin-left: 5%;
}

div.dropdown {
    display: none;
    position: absolute;
    min-width: 1.7em;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

div.dropdown a {
    text-align: center;
    color: black;
    border-bottom:1px black solid;  
    padding: 2em;
    display: block;
    text-decoration: none;
}

div.dropdown a:hover {
    background-color: black;
    color: white;
}

div.product-mgnt:hover .dropdown {
    display: block;
}

div.product-mgnt:hover h6{
    background-color: black;
    color: white;
}

