@{
    Layout = "_Layout";
}

<section id="content">
    <section id="homecolumn">

        <div id="bannerAd">
            <p>Subscribe to our monthly newsletter.</p>
        </div>

        <div id="featured">
            <p>This is where the featured product is going to go.</p>
        </div>
    </section>

    <aside id="seasonalAd">
        <img src="~/images/openroad.png" alt="Explore." />
        <span>Explore</span>
        <span>Summer 2018</span>
    </aside>
</section>
