/*font-family: 'IM Fell DW Pica', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Song Myung', serif;*/

* {
    color: #626262;
    font-size: 1.15vw;
    font-family: 'Song Myung', serif;
}
