
form {
    padding-top: 0%;
    margin-left: 20%;
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 1.5em;
}

form > div {
    padding: .4em;
}

input{
    padding:.5em 1em;
    margin: .5em;
}


div.validation{
    color: red;
}

button{
    border-radius: 12px;
    color: white;
    background-color: black;
    padding: .3em;
    font-size: 1em;
    margin:.2em;
}
