@model  ECommerceStore.Models.Basket

<ul>
    @foreach (var BasketItem in Model.CartItem)
    {
        <li>
            <a asp-action="Detail" asp-controller="Shop" asp-route-id="@BasketItem.Product.ID">@BasketItem.Product.Name</a>
            <a asp-action="" asp-controller="">@BasketItem.Quantity</a>
            <span>@{BasketItem.Cost}</span>
            <hr />
        </li>
    }
</ul>
