<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica|Oswald|Song+Myung" rel="stylesheet">
    <link rel="stylesheet" href="~/css/reset.css" type="text/css" />
    <link rel="stylesheet" href="~/css/base.css" type="text/css" />
    <link rel="stylesheet" href="~/css/layout.css" type="text/css" />
    <link rel="stylesheet" href="~/css/styling.css" type="text/css" />
    <link rel="stylesheet" href="~/css/icons.css" type="text/css" />
    <link rel="shortcut icon" type="image/png" href="~/images/favicon.png"/>
</head>


<body>
    <header>
        <a asp-controller="Home" asp-action="Index">
            <span class="logo">rucksack</span>
            <span class="tagline">-everyday outfitter-</span>
        </a>
       @if(SignInManager.IsSignedIn(User))
       {
        <div id="userInfo">
            @if (User.IsInRole(ApplicationRoles.Admin))
            {
                <span class="icon-unlocked"></span>
            }
            else
            {
                <span class="icon-user"></span>
            }
                <div>@User.Claims.FirstOrDefault(c => c.Type == "FullName").Value</div>
                <ul>
                    <li><a asp-page="/UserProfile">profile</a></li>
                    <li><a asp-controller="Shop" asp-action="CartPage">cart</a></li>
                    <li><a asp-controller="Account" asp-action="Logout">logout</a></li>
                </ul>
        </div>
       }

        <nav>
            <ul>

                <li>
                    <a asp-controller="Home" asp-action="Index">home</a>
                </li>

                @if (User.IsInRole(ApplicationRoles.Admin))
                {
                    <li>
                        <a asp-controller="Admin" asp-action="Index">manage</a>
                    </li>
                }

                <li>
                    <a asp-controller="Shop" asp-action="Index">products</a>
                </li>

                <li>
                    about
                </li>

                @if (!SignInManager.IsSignedIn(User))
                {
                    <li>
                        <a asp-controller="Account" asp-action="Register">register</a>
                    </li>
                    
                    <li>
                        <a asp-controller="Account" asp-action="Login">login</a>
                        </li>
                }

            </ul>
        </nav>
    </header>

    <main>
        @RenderBody()
    </main>

    <footer>
        <a asp-controller="Home" asp-action="Index">
            <div>
                <span class="logo">rucksack</span>
                <span class="tagline">-2018-</span>
            </div>
        </a>
        <section id="creators">
            <div>
                <span>Andrew Baik</span>
                <ul class="links">
                    <li>
                        <a href="https://www.linkedin.com/in/andrewbaik0/" target="_blank">Linkedin</a>
                    </li>
                    <li>
                        <a href="https://github.com/AndrewBaik" target="_blank">Github</a>
                    </li>
                </ul>
            </div>
            <div>
                <span>Nathan Aurich</span>
                <ul class="links">
                    <li>
                        <a href="https://www.linkedin.com/in/nathan-aurich/" target="_blank">Linkedin</a>
                    </li>
                    <li>
                        <a href="https://github.com/NateA275" target="_blank">Github</a>
                    </li>
                </ul>
            </div>
        </section>
        <section id="providers">
            <div class="icon-Microsoft"></div>
            <div class="icon-Google"></div>
        </section>
        <section id="smallprint">
            <ul>
                <li><a asp-controller="Home" asp-action="Index">home</a></li>
                <li>subscribe</li>
                <li>about</li>
                <li>&copy; 2018</li>
                <li>All Rights Reserved.</li>
            </ul>
        </section>
    </footer>

</body>
</html>
