<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          rel="stylesheet" integrity="sha384-wskhasgfghywdcbwn70/dfybj47jz9qbsmid/irn3ewghxqfzcsftd1lzcfmhktb"
          crossorigin="anonymous">

    <link rel="stylesheet" href="~/Styles/Base.css" type="text/css" />
    <link rel="stylesheet" href="~/Styles/Layout.css" type="text/css" />
    <link rel="stylesheet" href="~/Styles/Modules.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Special+Elite" rel="stylesheet">
</head>


<body>
    <header>
        <div class="nav">

            <div class="nav-account">
                        <div class="account">
                    @if (SignInManager.IsSignedIn(User))
                    {
                            <div>
                                    Welcome!  <strong> @User.Claims.FirstOrDefault(c => c.Type == "FullName").Value </strong>
                            </div>
                            <div>
                                <a asp-controller="Account" asp-action="Logout">Logout</a>
                            </div>
                            <div>
                                <a asp-controller="Shop" asp-action="CartPage">View Cart</a>
                            </div>
                    }
                    else
                    {
                            <div>
                                <a asp-controller="Account" asp-action="Register"> Register </a>
                            </div>
                            <div>
                                <a asp-controller="Account" asp-action="Login">Login</a>
                            </div>
                    }
                        </div>
                </div>

            <div class="nav-title">
                <p>E Commerce Store</p>
            </div>

            <div class="nav-menu">

                @if (User.IsInRole(ApplicationRoles.Admin))
                {


                    <div class="menu">
                        <a asp-controller="Admin" asp-action="Index"> Dashboard </a>
                    </div>

                    <div class="menu">
                        <a asp-controller="Shop" asp-action="Index">Products</a>
                    </div>

                    <div class="menu">
                        <a asp-controller="" asp-action="">Menu three</a>
                    </div>
                }
                else if (SignInManager.IsSignedIn(User))
                {
                    <div class="menu">
                        <a asp-controller="Home" asp-action="Index">Home</a>
                    </div>

                    <div class="menu">
                        <a asp-controller="Shop" asp-action="Index"> Products </a>
                    </div>

                    <div class="menu">
                        <a asp-controller="" asp-action="">Menu three</a>
                    </div>

                }
                else
                {

                    <div class="menu">
                        <a asp-controller="#" asp-action="#"> Menu One </a>
                    </div>

                    <div class="menu">
                        <a asp-controller="" asp-action="">Menu two</a>
                    </div>

                    <div class="menu">
                        <a asp-controller="" asp-action="">Menu three</a>
                    </div>
                }
            </div>

        </div>
    </header>


    <main>

            @RenderBody()
    </main>

    <footer>
        <ul>
            <li>ECommerce 2018</li>
            <li>
                <a href="https://linkedin.com" target="_blank">Andrew Baik</a>
            </li>
            <li>
                <a href="https://linkedin.com" target="_blank">Nathan Aurich</a>
            </li>
        </ul>
    </footer>
</body>

</html>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
        integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>