<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=IM+Fell+DW+Pica|Oswald|Song+Myung" rel="stylesheet">
    <link rel="stylesheet" href="~/Styles/reset.css" type="text/css" />
    <link rel="stylesheet" href="~/Styles/base.css" type="text/css" />
    <link rel="stylesheet" href="~/Styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="~/Styles/modules.css" type="text/css" />
    <link rel="stylesheet" href="~/Styles/icons.css" type="text/css" />
</head>


<body>
    <header>
        <img src="~/images/treeline.png" alt="Treeline Header" />

        <span class="logo">rucksack</span>
        <span class="tagline">-buy our stuff-</span>

        <div id="userInfo">
            @if (SignInManager.IsSignedIn(User))    
            {
                <div> <strong> @User.Claims.FirstOrDefault(c => c.Type == "FullName").Value </strong> </div>

                if (User.IsInRole(ApplicationRoles.Admin))
                {
                    <a id="icon-key" asp-controller="Admin" asp-action="Index"></a>
                }
                <div><a asp-controller="Account" asp-action="Logout">logout</a></div>

                <div><a asp-controller="Shop" asp-action="CartPage">view cart</a></div>

            }
            else
            {
                <div><a asp-controller="Account" asp-action="Login">login</a></div>

                <div><a asp-controller="Account" asp-action="Register">register</a></div>
            }
        </div>

        <nav>
            <ul>
                @if (User.IsInRole(ApplicationRoles.Admin))
                {
                    <li>
                        <a asp-controller="Admin" asp-action="Index">manage inventory</a>
                    </li>
                }
                <li>
                    <a asp-controller="Shop" asp-action="Index">products</a>
                </li>

                <li>
                    login
                </li>

                <li>
                    register
                </li>

                <li>
                    about
                </li>

                <li>
                    checkout
                </li>
            </ul>
        </nav>
    </header>




    <main>
        @RenderBody()
    </main>






    <footer>
        <div>
            <span class="logo">rucksack</span>
            <span class="tagline">-2018-</span>
        </div>

        <section id="creators">
            <div>
                <span>Andrew Baik</span>
                <ul class="links">
                    <li>
                        Linkedin
                    </li>
                    <li>
                        Github
                    </li>
                </ul>
            </div>

            <div>
                <span>Nathan Aurich</span>
                <ul class="links">
                    <li>
                        Linkedin
                    </li>
                    <li>
                        Github
                    </li>
                </ul>
            </div>
        </section>
    </footer>




</body>
</html>
